<%= semantic_form_for @comment=Comment.new, url: topic_response_comments_path(@topic,resp) do |f| %>
  <div class="input-group"> 
    <%= f.text_field :content, class: "form-control" %>
    <span class="input-group-btn">
      <%= f.action :submit, :as => :button %>
    </span>
  </div>
<% end %>
