<div class="col-lg-3">
  <div class="well">
    <div class="list-group">
      <% @sidebar_topics.each do |topic| %>
        <%= link_to topic.title, topic_path(topic), class: (params[:id].to_i == topic.id) ? "list-group-item active" : "list-group-item" %>
      <% end %>
    </div>
    <%= link_to "New topic", new_topic_path, class: "btn btn-default" %> 
  </div><!--/.well -->
</div><!--/span-->