<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3>Latest</h3>
    <ul class="nav nav-list">
      <% @sidebar_topics.each do |topic| %>
        <%= link_to topic.title, topic_path(topic) %>
      <% end %>
    </ul>
  </div><!--/.well -->
</div><!--/span-->