<div class="panel panel-default">
  <div class="panel-body">
    <%= response.content %>
    <%= response.author.email %>
  </div>
    <%= render response.comments %>
  <div class="panel-footer">
    <%= render partial: "comments/form", locals: {resp: response}%>
  </div>
  

</div>

